<h1> Kitchen </h1>

{{#each orders}}
	<form class = "kitchen" id="{{this.id}}" action="updateKitchen" method = "POST">
		<p> 
			<span>{{this.customer}} = {{this.ingredientString}} </span>
			<input type ="submit" value ="Fulfilled">
		</p>
	</form>
{{/each}}