<h1> Twotter <h1>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

<form id="login-form" method="POST" action="authenticate">
<h3> {{message}} <h3>
  My name is: <input id = "username"  type="text" name="name"/>  <input type="submit" value="Log On" class="button">
</form>

